@import "base/mixins";
@import "base/veriables";
@import "base/resetCode";
@import "base/pages/about-us";
@import "base/pages/blog";
@import "base/pages/contact";
@import "base/pages/course";
@import "base/pages/events";
@import "base/pages/signin";
@import "base/pages/signup";

/*=================HEADER SUBMENU LAYOUT DESIGN===============================*/

.header {
  height: 80px;
  min-width: 100%;
  @include positions(0, 0, 0, auto);
  @include displayContent(flex, center, center);
  z-index: 99999;
  .navbar {
    width: 100%;
    .container {
      // main menu
      .navbar-collapse {
        a {
          display: flex !important;
          justify-content: space-between !important;
          align-items: center !important;
        }
        .main_menu {
          li {
            margin: 0 10px;
            &:hover > a,
            .nav-link.active {
              color: $main_color !important;
            }
            a {
              @include textStyle($normal-size, $dark_color, 400, 1px);
              display: inline-block;
              transition: 0.4s all ease-in-out;
              position: relative;
              text-transform: capitalize;
              padding: 0;
              &:hover,
              &:focus,
              &.active {
                color: $main_color !important;
              }
              ion-icon {
                display: none;
              }
            }

            &.dropdown {
              position: relative !important;
              .dropdown-menu {
                opacity: 0;
                visibility: hidden;
                display: block;
                position: absolute;
                top: calc(100% + 30px);
                left: 0;
                padding: 20px 0;
                transition: 0.4s all ease-in-out;
                border: 0 !important;
                box-shadow: 0 5px 10px rgba(160, 203, 255, 0.3);
                .dropdown-item {
                  background-color: transparent;
                  margin-bottom: 7px;
                }
                .dropdown {
                  .dropdown-menu {
                    opacity: 0;
                    visibility: hidden;
                    left: -165px;
                    top: -22px;
                  }

                  &:hover {
                    .dropdown-menu {
                      opacity: 1;
                      visibility: visible;
                      left: -195px;
                    }
                  }
                }
              }

              // first dropdown menu hover effect

              &:hover {
                // i {
                //   transform: rotate(180deg);
                // }
                .dropdown-menu {
                  opacity: 1;
                  visibility: visible;
                  top: calc(100% + 10px);
                }
              }
            }
          }
        }
      }

      .social_menu {
        .nav {
          flex-wrap: nowrap;
          li {
            margin-left: 12px;
            a {
              @include displayContent(flex, center, center);
              @include textStyle($normal-size, $dark_color, 400, 0);
              transition: 0.4s all linear;

              span {
                margin-left: 2px;
              }
              &:hover {
                color: $main_color !important;
              }
            }
          }
        }
      }
    }
  }
}

// hero content style ===============>

.hero_content {
  margin: 0;
  @include displayContent(flex, center, center);
  .hero_details {
    h1 {
      @include textStyle($font-48, $main_color, 700, 1px);
    }
    p {
      @include textStyle($font-14, $fade_dark, 400, 0px);
      margin: 20px 0;
    }
  }
}

// hero content style ===============>

.feature {
  padding: 40px 0;
  .single_feature,
  .common {
    text-align: center;
    .hexagon {
      @include displayContent(inline-flex, center, center);
      height: 75px;
      width: 65px;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      background-color: $nevy_color;
      transition: 0.4s all ease-in-out;
      i {
        font-size: $font-28;
        color: $white;
      }
      &:hover {
        background-color: $main_color;
      }
    }
    h4 {
      margin: 15px 0 4px 0;
      text-transform: capitalize;
      @include textStyle($font-24, $black_color, 400, 1px);
    }
    p {
      color: $fade_dark;
    }
  }
}

// campus content style ===============>

.campus_content,
.common {
  & > p {
    color: $fade_dark;
    margin-top: 20px;
  }
  div {
    margin: 30px 0;
    p {
      display: flex;
      margin: 14px 0;
      i {
        color: $main_color;
        font-size: $font-24;
        margin-right: 6px;
      }
      span {
        color: $fade_dark;
      }
    }
  }
}

// choosing content style ===============>

.choosing {
  background-color: $blue_light;
  .why_choose {
    padding: 60px 15px;
    transition: 0.5s all ease-in-out;
    cursor: default;
    & > p {
      i {
        @include textStyle($font-48, $green_color, 600, 0);
      }
    }
    p:nth-child(2) {
      font-family: $fira_code;
      @include textStyle($font-18, $main_color, 600, 1px);
      text-transform: uppercase;
      margin: 10px 0;
    }
    p:nth-child(3) {
      @include textStyle($font-14, $fade_dark, 300, 1px);
    }
    &:hover {
      box-shadow: 0 0 30px rgba(160, 203, 255, 0.3);
    }
  }
}

// digital service content style ===============>

.digital_service {
  .service_content {
    q {
      @include textStyle($font-14, $dark_color, 400, 1px);
      font-style: italic;
      display: inline-block;
      span {
        background-color: $rgba_bg;
      }
    }
  }
}

// campus overview content style ===============>

.campuse_overview {
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      // transform: none !important;
      .swiper-slide {
        .slide_img {
          img {
            display: block;
            width: 100%;
            height: 550px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .slider_component {
    .single_component {
      @include displayContent(flex, center, flex-start);
      column-gap: 30px;
      padding: 25px 20px;
      margin: 17px 0;
      border-radius: 0 4px 4px 0;
      transition: 0.3s all ease-in-out;
      cursor: default;
      &.active {
        box-shadow: 0 0 20px $rgba_bg;
        border-right: 4px solid $main_color;
      }
      .component_img {
        background-color: $main_color;
        padding: 10px;
        border-radius: 4px;
        height: 40px;
        i {
          @include textStyle($font-20, $white, 400, 0);
        }
      }
      .component_text {
        h4 {
          @include textStyle($font-20, $main_color, 600, 2px);
          text-transform: capitalize;
        }
        p {
          @include textStyle($font-14, $fade_dark, 400, 1px);
        }
      }
    }
  }
}

// course details content style ===============>

.course_details {
  .course_content-tabs {
    @include displayContent(flex, center, center);
    margin: 40px 0;
    .nav-pills {
      justify-content: center;
      .nav-item {
        margin: 10px;
        .nav-link {
          background-color: transparent;
          @include textStyle($font-14, $fade_dark, 400, 1px);
          text-transform: capitalize;
          padding: 0;
          &.active,
          &:hover {
            color: $main_color !important;
          }
        }
      }
    }
  }
  .course_content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    .course_data {
      padding: 0 20px;
      .course_icon {
        background-color: $rgba_bg;
        // padding: 10px;
        border-radius: 4px;
        height: 40px;
        width: 40px;
        @include displayContent(flex, center, center);
        i {
          @include textStyle($font-32, $main_color, 400, 0);
        }
      }
      h4 {
        @include textStyle($normal-size, $main_color, 700, 2px);
        text-transform: uppercase;
        margin-top: 15px;
        font-family: $fira_code;
      }
      p {
        @include textStyle($font-14, $fade_dark, 400, 1px);
      }
    }
    .course_dotLines {
      .dots {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: $main_color;
        border-radius: 50%;
      }
      .lines {
        display: block;
        width: 2px;
        height: 100%;
        background-color: $main_color;
        transform: translate(6px, -7px);
      }
    }
  }
}

// blog content style ===============>

.blogs {
  .swiper {
    margin-top: 40px;
    .swiper-wrapper {
      .swiper-slide {
        transition: 0.7s all ease-in-out;
        .single_slide {
          background-color: $blue_light;
          border-radius: 10px;
          .col-4 {
            padding: 0;
          }
          .blog_img {
            img {
              height: 420px;
              border-radius: 10px 0 0 10px;
              background-position: center;
              object-fit: cover;
            }
          }
          .blog_details {
            padding: 0 30px;
            h2 {
              text-transform: uppercase;
              @include textStyle($font-14, $dark_color, 600, 1px);
            }
            h3 {
              a {
                @include textStyle($font-24, $dark_color, 600, 1px);
                transition: 0.3s all ease-in-out;
                &:hover {
                  color: $main_color !important;
                }
              }
            }
            p {
              color: $fade_dark;
            }
            .blog_topic {
              display: inline-block;
              margin-top: 40px;
              color: $dark_color;
              text-transform: capitalize;
            }
            span {
              margin-top: 10px;
              span {
                margin-left: 10px;
                color: $dark_color;
              }
            }
          }
        }
      }
    }
  }
}

// responsive content style ===============>

.footer {
  .footer_bg {
    padding: 80px 0;
    background-color: $fade_white;
    .newsletter {
      padding-right: 60px;
      h4 {
        @include textStyle($font-18, $dark_color, 600, 2px);
        margin-bottom: 20px;
      }
      p {
        @include textStyle($font-14, $fade_dark, 400, 2px);
        text-align: justify;
      }
    }
    form {
      .form-group {
        position: relative;
        input {
          width: 100%;
          height: 55px;
          background-color: $rgba_bg;
          border-radius: 50px;
          border: none;
          padding-left: 20px;
          color: $dark_color;
        }
        button {
          @include positions(50%, auto, 0, auto);
          @include displayContent(flex, center, center);
          transform: translateY(-50%);
          width: 100px;
          height: 55px;
          color: $white;
          background-color: $main_color;
          border-radius: 50px;
          transition: 0.4s;
          i {
            font-size: $font-24;
          }
          &:hover {
            background-color: $nevy_color;
          }
        }
      }
    }
  }
  .copyright {
    p {
      @include textStyle($font-14, $fade_dark, 400, 2px);
    }
  }
}

// responsive content style ===============>

@media only screen and (max-width: 1080px) {
  // header content =============>

  .header {
    .navbar {
      .show_button {
        display: inline-block !important;
      }

      .navbar-collapse {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: $white;
        border-radius: 0 10px 10px 0;
        height: 100vh;
        width: 55%;
        align-items: flex-start;
        transition: 0.4s all ease-in-out;
        box-shadow: 5px 0 10px rgba(184, 206, 233, 0.3);
        z-index: 999;
        &.collapse:not(.show) {
          display: block;
        }
        &.show_collapse {
          left: 0;
        }
        .close_button {
          display: inline-block;
          position: absolute;
          right: 30px;
          top: 20px;
        }
        ul {
          padding: 30px 20px;
          flex-direction: column;
          margin-top: 30px;
          width: 100%;
          & > li {
            margin-top: 10px !important;
          }
          overflow: auto;
          .dropdown {
            .dropdown-menu {
              position: static !important;
              text-align: center;
              transition: height 0.4s ease;
              padding: 0 !important;
              transition: height 0.4s ease-in;
              margin: 0 !important;
              height: 0;
              opacity: 1 !important;
              visibility: visible !important;
              overflow: hidden;
              &.show_menu {
                margin-top: 10px !important;
              }
            }
          }
        }
      }
    }
  }

  //hero content ==========>

  .hero_content {
    .hero_details {
      h1 {
        font-size: $font-38 !important;
      }
    }
  }

  // feature content =============>
  .feature {
    padding: 70px 0;
  }
}

@media only screen and (max-width: 991px) {
  section {
    padding: 40px 0;
  }

  //hero content ==========>

  .hero_content {
    .hero_details {
      h1 {
        font-size: $font-32 !important;
      }
    }
  }

  //campuse overview ==========>

  .campuse_overview {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          .slide_img {
            img {
              height: 360px;
            }
          }
        }
      }
    }
  }

  //blogs content ==========>

  .blogs {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          .single_slide {
            .blog_details {
              padding: 20px 10px;
              h3 {
                a {
                  font-size: $font-18 !important;
                }
              }
              p,
              .blog_topic,
              span {
                font-size: $font-14;
              }
              .blog_topic {
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
  // header content =============>

  .header {
    .navbar {
      .navbar-collapse {
        width: 100%;
      }
    }
  }

  //subtitle conent ==========>

  .subtitle {
    font-size: $normal-size !important;
  }

  //header conent ==========>

  .header {
    .navbar {
      img {
        max-width: 75%;
      }
    }
  }

  //hero content ==========>

  .hero_content {
    .hero_details {
      h1 {
        font-size: $font-24 !important;
      }
    }
  }

  //feature content ==========>

  .feature {
    .single_feature,
    .common {
      h4 {
        font-size: $font-18 !important;
      }
    }
  }

  //choosing content ==========>

  .choosing {
    .why_choose {
      p:nth-child(2) {
        font-size: $normal-size !important;
      }
    }
  }

  //campuse overview ==========>

  .campuse_overview {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          .slide_img {
            img {
              height: 270px;
            }
          }
        }
      }
    }
    .slider_component {
      .single_component {
        .component_text {
          h4 {
            font-size: $normal-size !important;
          }
        }
      }
    }
  }

  //course details content ==========>

  .course_details {
    .course_data {
      h4 {
        @include textStyle($font-14, $main_color, 700, 2px);
        line-height: 24px;
      }
      p {
        font-size: 12px;
        text-align: justify;
        letter-spacing: 0;
      }
    }
  }

  //course details content ==========>
}
