@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600&family=Nunito:wght@300;400;600;700;800&family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import "veriables";
@import "mixins";
//reset code

*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
}

ul li {
  list-style: none;
}

i {
  line-height: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.navbar > .container {
  flex-wrap: nowrap;
}

.title {
  @include textStyle($normal-size, $main_color, 800, 3px);
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 15px;
  font-family: "Fira Code", monospace;
  &::after {
    position: absolute;
    content: "";
    @include positions(auto, 0, auto, -3px);
    width: 60%;
    height: 2px;
    background-color: $main_color;
  }
}

.title_text {
  @include textStyle($font-14, $fade_dark, 400, 3px);
}

.subtitle {
  @include textStyle($font-20, $main_color, 700, 3px);
  text-transform: uppercase;
}

section {
  position: relative;
  overflow: hidden !important;
  padding: 70px 0;
}

.row {
  justify-content: center;
  align-items: center;

  margin: 0 !important;
}

.logo-color {
  color: $main_color;
}

button {
  outline: 0 !important;
  border: 0 !important;
  background-color: transparent;
}

input {
  border: 0;
  outline: 0;
}

.collapse:not(.show) {
  display: block;
}

.menu_btn {
  line-height: inherit;
  margin-right: 15px;
  display: none;
  i {
    line-height: inherit;
    font-size: $font-24;
  }
}

.cmn_btn {
  @include displayContent(inline-flex, center, center);
  @include textStyle($font-14, $white, 400, 2px);
  padding: 14px 40px;
  background-color: $main_color;
  border-radius: 2px;
  i {
    transition: transform 0.3s;
    margin-left: 3px;
  }
  &:hover i {
    transform: translateX(3px);
  }
}
