//font sizes

$normal-size: 16px;
$font-14: 14px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
$font-48: 48px;
$font-58: 58px;
$font-64: 64px;

//colors
$white: #fff;
$main_color: rgb(96, 84, 201);
$nevy_color: rgb(55, 47, 131);
$dark_color: rgb(77, 74, 77);
$black_color: rgb(14, 13, 13);
$fade_white: #f9f9f9;
$fade_dark: #979797;
