@import "../mixins";
@import "../veriables";
@import "../resetCode";

//blog hero content ===========>

.blog_hero {
  padding: 120px 0;
  background-image: $blog_bg;
}

.blog_content {
  //single blog ===:>

  .single_blog {
    background-color: $fade_white;
    .blog_details {
      padding: 30px 20px;
      .blog_place {
        span {
          @include textStyle($font-14, $fade_dark, 400, 1px);
          text-transform: capitalize;
        }
      }
      .blog_titles {
        margin: 15px 0 30px 0;
        h2 {
          line-height: 30px;
          a {
            @include textStyle($font-24, $black_color, 700, 1px);
            // font-family: $Source_sans;
            transition: 0.2s all ease-in-out;
            &:hover {
              color: $main_color !important;
            }
          }
        }
        p {
          @include textStyle($font-14, $fade_dark, 400, 1px);
          margin-top: 15px;
        }
      }
      .blog_creator {
        .social {
          span,
          a {
            @include textStyle($normal-size, $fade_dark, 400, 1px);
            transition: 0.4s ease;
          }
          a {
            margin: 0 3px;
            &:hover {
              color: $main_color !important;
            }
          }
        }
      }
    }
  }

  //blog pagination ===:>

  .pagination {
    .page-item {
      .page-link {
        padding: 5px 8px;
        @include textStyle($font-14, $fade_dark, 400, 1px);
        box-shadow: none;
      }
      &.active {
        .page-link {
          background-color: $main_color;

          color: $white !important;
        }
      }
    }
  }
}

//blog posts content ===:>

.blog_posts-content {
  .recent_posts {
    .recent_title {
      @include textStyle($font-20, $black_color, 600, 2px);
      font-family: $fira_code;
      text-transform: capitalize;
      img {
        margin-left: 10px;
      }
    }
    .single_posts {
      margin: 15px 0;
      box-shadow: 0 0 15px $rgba_bg;
      .rec_img {
        img {
          min-width: 100%;
        }
      }
      .titles {
        padding: 12px;
        h3 {
          line-height: 20px;
          a {
            @include textStyle($normal-size, $black_color, 600, 2px);
            transition: 0.2s;
            &:hover {
              color: $main_color !important;
            }
          }
        }
        p {
          @include textStyle($font-14, $fade_dark, 400, 1px);
          margin: 4px 0;
          &:last-child {
            @include textStyle($normal-size, $black_color, 600, 1px);
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .post_details {
    margin: 15px 0;
    padding: 20px;
    box-shadow: 0 0 15px $rgba_bg;
    h5 {
      @include textStyle($font-20, $black_color, 600, 2px);
    }
    .post_search {
      form {
        // @include displayContent(flex, center, center);
        position: relative;
        input {
          display: inline-block;
          width: 95%;
          height: 52px;
          border: 1px solid $fade_dark;
          padding-left: 15px;
          font-size: $font-14;
          &:focus {
            border-color: $main_color;
          }
        }
        a {
          display: inline-block;
          @include positions(50%, auto, 0, auto);
          transform: translateY(-50%);
          width: 14%;
          height: 45px;
          @include displayContent(flex, center, center);
          //   transform: translateX(-40px);
          background-color: $main_color;
          i {
            @include textStyle($font-20, $white, 300, 0);
          }
        }
      }
    }
    .post_catagories {
      margin: 40px 0;

      .catagorie {
        a {
          margin: 12px 0;
          @include displayContent(flex, space-between, center);
          border-bottom: 1px dashed $fade_dark;
          padding: 6px;
          @include textStyle($normal-size, $fade_dark, 400, 1px);
          text-transform: capitalize;
          transition: 0.3s;
          &:hover {
            color: $main_color !important;
          }
        }
      }
    }
    .post_tags {
      .tags {
        margin-top: 15px;
        li {
          display: inline-block;
          margin: 7px 4px;
          a {
            padding: 4px 10px;
            background-color: $fade_white;
            @include textStyle($font-14, $fade_dark, 400, 1px);
            transition: 0.3s;
            &:hover {
              background-color: $rgba_bg;
            }
          }
        }
      }
    }
  }
}

//single blog content ===:>

.single_blog {
  @include textStyle($font-14, $fade_dark, 400, 1px);
  a {
    color: $fade_dark;
    transition: 0.3s ease;
    &:hover {
      color: $main_color;
    }
  }

  //single blog content ========>

  .single_blog-content {
    box-shadow: 0 0 10px $rgba_bg;

    .blog_text {
      padding: 30px;
      h3 {
        a {
          @include textStyle($font-20, $black_color, 600, 1px);
          &:hover {
            color: $main_color !important;
          }
        }
      }
      ul,
      ul > li {
        @include displayContent(inline-flex, center, center);
      }
      ul {
        margin: 15px 0;
        column-gap: 10px;
        li {
          column-gap: 4px;
        }
      }
      blockquote {
        background-color: $rgba_bg;
        padding: 20px 30px;
        border-radius: 6px;
        margin: 20px 0;
        p {
          @include textStyle($font-18, $nevy_color, 400, 1px);
          font-family: $fira_code;
          i {
            transform: translateY(-4px);
          }
        }
      }
      h4 {
        @include textStyle($font-20, $black_color, 600, 2px);
      }

      .blog_social {
        a {
          display: inline-block;
          margin: 0 3px;
        }
      }
    }
  }

  //blog comment section ========>

  .comment_box {
    h2 {
      margin: 40px 0;
      @include textStyle($font-20, $black_color, 600, 2px);
      border-bottom: 1px dashed $main_color;
      padding-bottom: 10px;
    }

    .single_comment {
      overflow: hidden;
      margin-top: 30px;
      .wrapper {
        display: grid;
        grid-template-columns: max-content 1fr;
        justify-content: center;
        align-items: flex-start;
        column-gap: 20px;
        .avatar {
          img {
            max-width: 60px;
            max-height: auto;
            border-radius: 50%;
          }
        }
        .comment_content {
          .box {
            h4 {
              @include textStyle($font-14, $black_color, 600, 2px);
              text-transform: uppercase;
              margin-top: 4px;
            }
            p {
              margin-top: 10px;
              max-height: 90px;
              overflow: auto;
            }
          }
          .reactions {
            text-align: right;
            ul {
              @include displayContent(inline-flex, center, center);
              column-gap: 10px;
              li {
                a {
                  @include displayContent(inline-flex, center, center);
                  column-gap: 4px;
                  &.react {
                    color: $main_color !important;
                  }
                }
              }
            }
          }
          .reply_box {
            transition: height 0.6s all ease-in-out;
            form {
              margin-top: 15px;
              position: relative;
              input {
                border: 1px solid $main_color;
                width: 95%;
                height: 40px;
                border-radius: 50px;
                padding-left: 15px;
                color: $fade_dark;
              }
              button {
                width: 80px;
                height: 33px;
                border-radius: 50px;
                background-color: $main_color;
                @include positions(50%, auto, 0, auto);
                transform: translateY(-50%);
                i {
                  color: $white;
                  font-size: $font-20;
                }
              }
            }
          }
        }
      }
      .single_comment {
        margin-left: 80px;
      }
    }
  }
}
