@import "../mixins";
@import "../veriables";
@import "../resetCode";

.signup {
  background-image: $signup_bg;
  .sign_up-form {
    width: 100%;
    margin-top: 10px;
    // main_form ======>

    .main_form {
      box-shadow: 0 0 15px $rgba_black;
      display: grid;
      grid-template-columns: max-content 1fr;
      border-radius: 15px;
      overflow: hidden;

      // sign_img ======>

      .sign_img {
        background-color: $signup_img;

        padding: 20px;
      }

      // sign_form ======>

      .sign_form {
        background-color: $signup_form;
        padding: 20px;
        h4 {
          @include textStyle($font-24, $main_color, 700, 1px);
        }

        // form ======>

        form {
          margin-top: 20px;
          input[type="text"],
          input[type="email"],
          input[type="number"] {
            box-shadow: none;
            border: none;
            background-color: $signin_inputs;
            border-radius: 0;
            margin: 10px 0;
            height: 45px;
          }

          //custom select tag

          .custom_selection {
            margin: 20px 0;
            position: relative;
            .selected {
              background-color: $signin_inputs;
              padding: 14px;
              cursor: pointer;
              h5 {
                @include textStyle($normal-size, $black_color, 400, 1px);
                margin-bottom: 0;
              }
              i {
                font-size: $font-20;
                transition: 0.4s all;
              }
              &.rotate {
                i {
                  transform: rotate(180deg);
                }
              }
            }
            .option_container {
              position: absolute;
              top: 60px;
              left: 0;
              background-color: $white;
              width: 100%;
              z-index: 11;
              padding: 10px 0;
              border-radius: 6px;
              height: 0;
              opacity: 0;
              overflow: hidden;
              transition: 0.4s all ease-in-out;
              &.active {
                height: 210px;
                opacity: 1;
                overflow-y: scroll;
              }
              .option {
                padding: 8px 30px;
                transition: 0.3s all;
                cursor: pointer;
                input,
                label {
                  cursor: pointer;
                  text-transform: capitalize;
                }
                input {
                  display: none;
                }
                &:hover {
                  background-color: $rgba_bg;
                }
              }
            }
          }

          // gender ======>

          .gender {
            @include displayContent(inline-flex, flex-start, center);
            label {
              text-transform: capitalize;
              margin: 0 5px;
            }
          }

          // signup_btn ======>

          .signup_btn {
            margin-top: 25px;
            button {
              padding: 10px 30px;
              font-size: $normal-size !important;
              letter-spacing: 0;
            }
          }

          // buttons ======>

          .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            align-items: center;
          }

          // account ======>

          .account {
            margin-top: 20px;
            p {
              @include textStyle($font-14, $black_color, 400, 1px);
              text-align: center;
              a {
                color: $main_color !important;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .sign_up-form {
    .main_form {
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 575px) {
  .sign_form {
    form {
      margin-top: 20px !important;
      input,
      select {
        height: 37px !important;
        font-size: $font-14;
      }
      .buttons {
        button {
          font-size: $font-14;
        }
      }
      label {
        font-size: $font-14;
      }
    }
  }
}
